body {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #ffffff;
  letter-spacing: normal;
}


/* распорка */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* центровищик */

.container {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.filter-sort {
  width: 192px;
}

.filter-sort__field {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.filter-sort__field:hover,
.filter-sort__field:focus {
  background-color: #ffffff;
  color: #333333;
}

.filter-sort__field .select-icon:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 7%;
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

.filter-sort__field .select {
  width: 100%;
  height: 36px;
  margin: 0;
  padding: 0 25px 0 10px;
  background-color: transparent;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.filter-sort__field .select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.filter-sort__field .select:hover,
.filter-sort__field .select:focus,
.filter-sort__field .select:active {
  background-color: #ffffff;
  color: #333333;
}

.filter-sort__field .select::-ms-expand {
  display: none;
}

.select:focus ~ .select-icon:after {
  border-top-color: #333333;
}

@-moz-document url-prefix() {
  .filter-sort .select {
    text-indent: 0.01px;
    text-overflow: "";
    padding-right: 1rem;
  }
  .filter-sort option {
    background-color: white;
  }
}


/*кнопки*/

.btn {
  display: inline-block;
  height: 50px;
  padding-top: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}


/* хедер, навигация и слайдер */

header {
  padding-top: 50px;
  background-color: rgb(238, 238, 238);
  margin-bottom: 80px;
}

.logo {
  float: left;
  width: 180px;
  height: 75px;
  margin-right: 160px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.logo img {
  width: 160px;
  height: 65px;
}

.main-header {
  height: 505px;
  padding-top: 40px;
}

.main-navigation {
  float: left;
  width: 1000px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  vertical-align: bottom;
}

.main-navigation li:last-child {
  margin-right: 0;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}

.main-navigation a:active {
  color: #EEEEEE;
  opacity: 0.3;
}

.main-navigation li {
  position: relative;
}

.main-navigation .current::after {
  content: "";
  position: absolute;
  left: 17px;
  right: 15px;
  bottom: 10px;
  height: 2px;
  background-color: #fb565a;
}

.main-header-menu a.current:active {
  border-bottom-color: black;
}

.user-cart {
  max-width: 140px;
  margin-right: 0;
  width: 160px;
  float: left;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}

.cart {
  position: relative;
  display: inline-block;
  padding: 25px 20px;
  padding-left: 50px;
  font-size: 16px;
  line-height: 24px;
  vertical-align: bottom;
  text-decoration: none;
}

.cart::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 28px;
  left: 10px;
  background: transparent url("../img/sprites.png") no-repeat;
  background-position: -2px -5px;
  opacity: 0.3;
}

.main-navigation a,
.user-cart a {
  color: #000000;
}

a:link {
  color: #000000;
}

.cart:hover::before {
  opacity: 0.3;
}

.cart:hover {
  color: #fb565a;
}

.main-navigation a:hover,
.user-block a:hover {
  color: #fb565a;
}

.main-navigation a:active,
.user-cart a:active {
  color: #000000;
  opacity: 0.3;
}


/* слайдер */

.slider {
  position: relative;
  width: 1180px;
  height: 430px;
  margin: 0;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 10px;
  margin-left: -100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 3px;
  background: white;
  border: 3px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  position: absolute;
  z-index: 200;
  width: 540px;
}

.slide-text p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.slide-title {
  display: inline-block;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin-top: 77px;
  margin-bottom: 13px;
  vertical-align: top;
}

.slide .btn {
  width: 240px;
  background-color: #fb565a;
  margin-top: 21px;
}

.slide .btn:hover {
  background-color: #e74246;
}

.slide .btn:active {
  color: #e48789;
  background-color: #d7373b;
}

.slide:nth-child(1) {
  background-image: url('../img/slider-1.png');
  background-repeat: no-repeat;
  background-position: 100% 13px;
}

.slide:nth-child(2) {
  background-image: url('../img/slider-2.png');
  background-repeat: no-repeat;
  background-position: 100% 9px;
}

.slide:nth-child(3) {
  background-image: url('../img/slider-3.png');
  background-repeat: no-repeat;
  background-position: 100% 10px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}


/* предложения */

.features {
  padding-bottom: 78px;
  background-color: white;
  border-bottom: 2px solid #eeeeee;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 100px;
  min-height: 350px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 15px;
}

.features-item p {
  font-size: 16px;
  line-height: 24px;
}


/* кнопки в предложении */

.features-btn {
  width: 160px;
  margin-top: 15px;
}

.features-btn-web {
  background-color: #fb565a;
}

.features-btn-web:hover {
  background-color: #e74246;
}

.features-btn-web:active {
  color: #e48789;
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px 0 0 #c13135;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.features-btn-mobile {
  background-color: #00ca74;
}

.features-btn-mobile:hover {
  background-color: #00bc6c;
}

.features-btn-mobile:active {
  color: #74c69c;
  background-color: #00aa62;
  -webkit-box-shadow: inset 0 3px 0 0 #009958;
  box-shadow: inset 0 3px 0 0 #009958;
}

.features-btn-presentation {
  background-color: #efc84a;
}

.features-btn-presentation:hover {
  background-color: #eab534;
}

.features-btn-presentation:active {
  color: #edc47f;
  background-color: #e5a722;
  -webkit-box-shadow: inset 0 3px 0 0 #ce961f;
  box-shadow: inset 0 3px 0 0 #ce961f;
}


/* о фирме */

.about {
  padding-top: 40px;
}

.about-head {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-left-block {
  float: left;
  margin-right: 140px;
  width: 660px;
  height: 410px;
}

.about-right-block {
  float: right;
  width: 360px;
  margin-right: 0;
}

.about-txt {
  line-height: 24px;
  margin-top: 33px;
}

.about-list-head {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 24px;
}

.about-list {
  padding-left: 0;
}

.about-list li {
  list-style: none;
  position: relative;
  margin-left: 35px;
  margin-bottom: 24px;
}

.about-list li:last-child {
  margin-bottom: 0;
}

.about-list li::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-right-block__stat-time {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 18px;
}

.about-right-block__stat-item {
  margin-right: 30px;
  float: left;
  width: 100px;
  font-size: 16px;
  line-height: 18px;
}

.about-right-block__stat-item-persent {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500px;
  font-weight: bold;
}

.about-right-block__stat-item-persent sup {
  font-size: 27px;
  line-height: 27px;
  font-weight: 500;
}

.about-right-block__stat-item p {
  text-align: left;
}

.about-right-block__stat-item-persent {
  text-align: center;
}

.about-right-block__stat-item:last-child {
  margin-right: 0;
}


/* клиенты */

.clients {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 2px;
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  margin-bottom: 80px;
  margin-top: 80px;
  font-size: 0;
  min-width: 1200px;
}

.clients-item {
  border-right: 2px solid #eeeeee;
  float: left;
  width: 290px;
  text-align: center;
  vertical-align: center;
}

.clients-item:last-child {
  border-right: none;
  margin-right: 0px;
}

.clients-item:first-child {
  margin-left: 0px;
}

.clients-item a {
  opacity: 0.2;
}

.clients-item a:hover {
  opacity: 1;
}

.clients-item:active {
  opacity: 0.1;
}

.clients-item img:nth-child(1) {
  width: 200px;
  height: 68px;
}

.clients-item img:nth-child(2) {
  width: 210px;
  height: 90px;
}

.clients-item img:nth-child(3) {
  width: 190px;
  height: 55px;
}

.clients-item img:nth-child(4) {
  width: 173px;
  height: 85px;
}

.map {
  height: 416px;
  margin-bottom: 69px;
  background: url("../img/map-marker.jpg") no-repeat center center;
}

.map-container {
  height: 100%;
  position: relative;
}

.contacts {
  position: absolute;
  width: 319px;
  height: 308px;
  top: 54px;
  left: 0px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}

.contacts b {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.contacts p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.write-us-btn {
  width: 219px;
  margin-top: 22px;
  background-color: #fb565a;
}

.write-us-btn:hover {
  background-color: #e74246;
}

.write-us-btn:active {
  background-color: #d7373b;
}

.main-footer {
  min-height: 633px;
}

.footer-social-text {
  float: left;
  width: 560px;
  font-size: 16px;
  line-height: 22px;
  padding-top: 20px;
}

.footer-social-text h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  margin: 0;
}

.footer-social-text p {
  margin: 0;
}

.footer-social-contacts {
  float: left;
  margin-right: 140px;
  width: 260px;
}

.footer-social-contacts ul {
  padding-left: 0;
}

.footer-social-contacts li {
  display: inline-block;
  list-style: none;
}

.footer-social-contacts a {
  text-decoration: none;
}

.social-btn {
  display: inline-block;
  padding: 0;
  width: 80px;
  height: 80px;
  line-height: 50px;
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  font-size: 0;
  vertical-align: top;
  text-decoration: none;
  background: rgb(238, 238, 238) url("../img/sprites.png") no-repeat center;
}

.social-btn:hover {
  background-color: #fb565a;
}

.social-btn:active {
  color: #e37376;
  background-color: #d7373b;
}

.social-btn-vk {
  background-position: 25px -295px;
}

.social-btn-fb {
  background-position: 32px -95px;
}

.social-btn-inst {
  background-position: 28px -198px;
}


/* спрайт */

.cart-icon,
.fb-icon,
.insta-icon,
.vk-icon {
  background: url(../img/sprites.png) no-repeat;
}

.cart-icon {
  background-position: -2px -5px;
  width: 15px;
  height: 15px;
}

.fb-icon {
  background-position: 0 -126px;
  width: 12px;
  height: 22px;
}

.insta-icon {
  background-position: 0 -228px;
  width: 21px;
  height: 21px;
}

.vk-icon {
  background-position: 0 -328px;
  width: 26px;
  height: 15px;
}

.checkbox-off.png-copy {
  background-position: 0 -426px;
  width: 23px;
  height: 23px;
}

.checkbox-on.png-copy {
  background-position: -1px -527px;
  width: 27px;
  height: 23px;
}

.close-cross.png-copy {
  background-position: -68px -277px;
  width: 21px;
  height: 21px;
}

.radio-off.png-copy {
  background-position: -65px -174px;
  width: 25px;
  height: 25px;
}

.radio-on.png-copy {
  background-position: -66px -73px;
  width: 25px;
  height: 25px;
}


/*catalog*/

.main-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}


/*sidebar*/

.main-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sidebar {
  width: 260px;
}

.range-filter h4,
.sort-catalog h4 {
  margin-top: 26px;
  margin-bottom: 50px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-on-radio-buttons h4,
.filter-on-checkbox h4 {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-filter {
  margin-bottom: 54px;
}

.range-control {
  position: relative;
  width: 260px;
  margin-bottom: 14px;
  padding-top: 39px;
  padding-bottom: 39px;
  padding-left: 21px;
  padding-right: 21px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeeeee;
  border-radius: 4px;
}

.range-control .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-control .bar {
  height: 2px;
  width: 70%;
  background-color: #00ca74;
}

.range-control .toggle {
  position: absolute;
  top: 30px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background: #ababab;
  -webkit-box-shadow: 0 3px 0 0 #cccdcd;
  box-shadow: 0 3px 0 0 #cccdcd;
  cursor: pointer;
}

.min-toggle {
  position: absolute;
  left: 19px;
}

.max-toggle {
  position: absolute;
  left: 160px;
}

.price-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.price-control p {
  margin: 0;
  padding: 0;
}

.price-control label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  padding: 10px;
  padding-left: 0;
  color: #283136;
}

.price-control input {
  display: inline-block;
  margin-left: 0;
  width: 60px;
  padding: 8px;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  text-align: center;
  color: #283136;
  background-color: #eeeeee;
  border: none;
  border-radius: 4px;
  outline-style: none;
}


/*radio-buttons*/

input[name="grid"] {
  display: none;
}

.filter-on-radio-buttons p {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

input[name="grid"] + label span {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  cursor: pointer;
  background: url("../img/sprites.png") no-repeat;
  background-position: -66px -173px;
  margin-right: 13px;
  opacity: 0.4;
}

input[name="grid"] + label span:hover {
  opacity: 1;
}

input[name="grid"][disabled] + label span {
  opacity: 0.1;
}

input[name="grid"]:checked + label span {
  background: url("../img/sprites.png") no-repeat;
  background-position: -66px -73px;
}

.filter-on-radio-buttons {
  margin-bottom: 42px;
}


/*checkbox*/

input[type="checkbox"] {
  display: none;
}

.filter-on-checkbox p {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

input[type="checkbox"] + label span {
  display: inline-block;
  width: 27px;
  height: 23px;
  vertical-align: middle;
  cursor: pointer;
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -426px;
  margin-right: 10px;
  opacity: 0.4;
}

input[type="checkbox"] + label span:hover {
  opacity: 1;
}

input[type="checkbox"][disabled] + label span {
  opacity: 0.1;
}

input[type="checkbox"]:checked + label span {
  background: url("../img/sprites.png") no-repeat;
  background-position: -1px -527px;
}

.filter-on-checkbox {
  margin-bottom: 48px;
}

.show {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  color: #000000;
  background-color: #eeeeee;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto", "Arial", sans-serif;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline-style: none;
}

.show:hover {
  background-color: #dfdfdf;
}

.show:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}


/* КАТАЛОГ */

.container-flex {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog {
  width: 760px;
}

.catalog-title {
  padding-top: 100px;
  padding-bottom: 108px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.sort-catalog-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sort-catalog h4 {
  width: 300px;
}

.sort-catalog-criterions {
  width: 300px;
  margin-left: 80px;
  padding: 30px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.criterions-sort {
  display: inline-block;
  vertical-align: middle;
  margin-right: 22px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
}

.criterions-sort:last-child {
  margin-right: 0;
}

.criterions-sort:hover {
  opacity: 0.6;
}

.criterions-sort:active {
  opacity: 1;
}

.sort-catalog-down-up {
  position: relative;
  width: 40px;
  padding: 27px 0;
}

.sort-down {
  position: absolute;
  display: inline-block;
  top: 35px;
  left: 0;
  border: 5px solid transparent;
  border-top: 10px solid #000000;
  opacity: 0.3;
}

.sort-up {
  position: absolute;
  display: inline-block;
  top: 29px;
  right: 0;
  border: 5px solid transparent;
  border-bottom: 10px solid #000000;
  opacity: 0.3;
}

.sort-down:hover,
.sort-up:hover {
  opacity: 0.6;
}

.active-sort {
  opacity: 1;
}

.catalog-items-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.catalog-item img {
  display: block;
  width: 360px;
  height: 576px;
}

.catalog-item {
  position: relative;
  margin-bottom: 36px;
  margin-right: 40px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.catalog-item::after {
  content: "";
  position: absolute;
  width: 360px;
  height: 576px;
  border: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  top: 40px;
  left: 0;
}

.catalog-item:hover {
  -webkit-box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.catalog-item:hover::after {
  border: none;
}

.catalog-item:hover .browser {
  background-color: #4d4d4d;
}

.catalog-item:hover .item-info {
  display: block;
}

.browser {
  width: 360px;
  height: 40px;
  padding-left: 16px;
  padding-top: 13px;
  padding-bottom: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #e9e9e9;
  border-radius: 4px 4px 0 0;
}

.browser-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.browser-item {
  width: 14px;
  height: 14px;
  margin-right: 9px;
  background-color: #ffffff;
  border-radius: 50%;
}

.item-info {
  position: absolute;
  z-index: 100;
  display: none;
  bottom: 0;
  left: 0;
  width: 360px;
  height: 230px;
  padding-top: 8px;
  padding-bottom: 43px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #eeeeee;
}

.item-info h2 {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  text-transform: uppercase;
  text-align: center;
}

.open-modal-item {
  text-decoration: none;
  color: #000000;
}

.item-info p {
  margin-top: 15px;
  margin-bottom: 29px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.btn-price {
  width: 200px;
  background-color: #fb565a;
}

.btn-price:hover {
  background-color: #e74246;
}

.btn-price:active {
  background-color: #d7373b;
}


/*paginator*/

.catalog-page-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.catalog-page-layout li {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 11px;
}

.page {
  display: block;
  width: 50px;
  height: 50px;
  padding: 15px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.next {
  width: 260px;
}

.page:hover {
  background-color: #dfdfdf;
}

.page:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
}

.page-active {
  padding-top: 14px;
  border: 3px solid #dbdbdb;
  background-color: #ffffff;
  pointer-events: none;
}

.page-active:active {
  padding-top: 16px;
  border: none;
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 3px 0 0 rgba(0, 0, 0, 0.1)
}


/*discount*/

.discount {
  width: 560px;
}

.discount h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 6px;
}

.discount p {
  margin-top: -26px;
  font-size: 16px;
  line-height: 22px;
}


/* 6. MODAL CONTENT */

.popup {
  display: none;
  position: fixed;
  top: 20%;
  left: 50%;
  z-index: 20;
  margin-left: -214px;
  padding: 16px 25px 27px 25px;
  width: 428px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.popup-show {
  display: block;
  animation: animatic 0.3s;
}


/* Анимация появления формы */

@keyframes animatic {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.3;
    transform: rotate(-90deg);
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.7;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.popup-error {
  animation: animate-error 0.3s;
}


/* Анимация ошибки в форме */

@keyframes animate-error {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup__close {
  position: absolute;
  top: 13px;
  right: 16px;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: #000000;
  border-radius: 1px;
}

.popup__close::before {
  transform: rotate(45deg);
}

.popup__close::after {
  transform: rotate(-45deg);
}

.popup__attention {
  display: inline-block;
  margin: 0 0 19px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  vertical-align: top;
}

.popup-form__field {
  margin-bottom: 20px;
  width: 267px;
  font-size: 16px;
}

.popup-form__label {
  top: 11px;
}

.popup-form__btn {
  float: right;
  margin-top: 18px;
  padding: 9px 21px 11px 21px;
}

.popup__textarea-input {
  padding: 11px 14px 11px 14px;
  width: 100%;
  min-height: 155px;
  font-size: 16px;
  resize: none;
}

.popup__textarea-input:hover,
.popup__textarea-input:focus {
  padding: 10px 13px 10px 13px;
}

.popup__textarea-label {
  font-size: 16px;
}

.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup-overlay-show {
  display: block;
}


/* 1. INPUT FIELD */

.form-field {
  position: relative;
  font-size: 14px;
  line-height: 24px;
}

.form-field__label {
  position: absolute;
  top: 9px;
  left: 14px;
  color: #999999;
  font-weight: 400;
  transition: color 0.2s, top 0.2s, font-size 0.2s;
}

.form-field__input {
  padding: 0 14px 0 14px;
  width: 100%;
  height: 44px;
  font-weight: 700;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-field__input:hover {
  padding: 0 13px 0 13px;
  border: 2px solid #d3d3d2;
}

.form-field__input:focus {
  padding: 0 13px 0 13px;
  border: 2px solid #8fbdec;
  outline: none;
}

.form-field__input:focus + .form-field__label {
  top: -15px;
  color: #5b9ddf;
  font-size: 11px;
  line-height: 13px;
}

.form-field__input:valid + .form-field__label {
  top: -15px;
  color: #999999;
  font-size: 11px;
  line-height: 13px;
}